     /* Cassiano */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
    position: relative;
}
.começo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    display: flex;
    color: #1c286a;
    gap: 1.9em;
    justify-content: center;
    align-items: center;
}
.titulo h1{
    font-size: 1.5em;
}

.butao{
    display: flex;
    margin-left: 10em;
    gap: 3em;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}

.butao a:hover{
    color: #013af4;
    text-decoration: underline;
}
.butao a{
    text-decoration: none;
    color: #1c286a;
}
.doe{
    display: flex;
    margin-left: 3em;
    color: white;
    padding:0.4em 1em ;
    background-color: #1949e8;
    align-items: center;
    justify-content: center;
    border-radius: 0.8em ;
    gap: 0.2em;
    
}
.doe a{
    color: white; 
}
.doe:hover{
    background-color: #5079ff;
    transform: translatey(-0.2em) scale(1.1);
}
.doe a:hover{
    text-decoration: none;
    background-color: #5079ff;
    color: #112d88;
}
.meio{
    display: flex;
    background-color: #a5bafc ;
    width: 100%;
    height: 45em;
    margin-top: 1em;
    align-items: center;

}
.direita{
    display: flex;
    gap: 0.7em;
    flex-direction: column;
    font-size: 2em;
    margin-left:3em;
    justify-content: center
}
.direita h1{
    font-size: 1.9em;
   
}
.direita h3{
color: #1949e8;
font-size: 0.8em;
}

.bot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}
.bot a{
    text-decoration: none;
}

.but1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1949e8;
    padding: 0.6em 2em ;
    border-radius: 0.5em;
    color: white;
    box-shadow: 0.2em 0.4em 0.7em 0.1em rgb(124, 127, 255);
}
.but1 a{
    color: white;
    text-decoration: none;
    display: inline-block;
}

.but1:hover{
        display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 2em ;
    border-radius: 0.5em;
    color: #003cff;
    border: #1949e8 solid 0.1em;
    box-shadow: 0.2em 0.4em 0.7em 0.1em rgb(124, 127, 255);
    background-color:#5079ff ;
    transform: translateY(0.2) scale(9);
}

.but2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 2em ;
    border-radius: 0.5em;
    color: #1949e8;
    border: #1949e8 solid 0.1em;
    box-shadow: 0.2em 0.4em 0.7em 0.1em rgb(124, 127, 255)
}
.but2 a{
    color:  #1949e8;
}

.but2:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97b0ff;
    padding: 0.6em 2em ;
    border-radius: 0.5em;
    color: rgb(255, 255, 255);
    box-shadow: 0.2em 0.4em 0.7em 0.1em rgb(124, 127, 255);
}
.esquerda{
    display: flex;
    flex: 1;
    height: 45em;
    clip-path: ellipse(95% 100% at 100% 30%);
}

.esquerda img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.info{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 2em;
    align-items: center;
    gap: 9em;
    border: solid 0.1em rgb(170, 169, 169);
}

.info h1{
    color: #1949e8;

}
.educação{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 1.6em; 
    border-radius: 2em;
    padding: 2em ;
    justify-content: center;
   
}
.soli{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 1.6em;
    border:  0.1em solid  rgb(170, 169, 169);
    padding: 3em ;
    width: 20em;
    margin-left: 1.5em;
    
}
.comunidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 1.6em;
    padding: 2em ;
    border-radius: 2em;
}
.educação img{
    display: flex;
    background-color: w;
    border-radius: 1em;
    padding: 0.6em 0.6em ;
    align-items: center;
    
}
.soli img{
    display: flex;
    background-color: white;
    border-radius: 9em;
    padding: 0.6em 0.6em ;
}
.comunidade img{
    display: flex;
    background-color: white;
    border-radius: 2em;
    padding: 0.6em 0.6em ;
}
.cursosbg{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    margin-top: 5em;
}
.cursosbg h1{
    font-size: 4em;
    color: #1949e8;
}
.cur{
    display: flex;
    gap: 4em;
    
}
 
.adm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size:2em ;
    border: solid 0.1em rgb(0, 255, 0);
    border-radius: 2em;
    width: 13em;
    height: 15em;
    color: rgb(0, 0, 0);
    box-shadow: 0.2em 1em 3em green;
}
.adm h5{
    color:  rgb(70, 160, 70)
}
.adm .boto{
    background-color:  rgb(70, 160, 70);
}
.adm:hover{
    transform: translateY(-1.3em) scale(1.1);
}
.adm a:hover{
    color: greenyellow;
}

.cv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
      border: solid 0.1em rgb(241, 21, 230);
    font-size:2em ; 
     width: 13em;
    height: 15em;
    border-radius: 2em;
    color: rgb(0, 0, 0);
      box-shadow: 0.2em 1em 1em rgb(241, 21, 230);
}
.cv h5{
 color: rgb(241, 21, 230)
}
.cv .boto{
    background-color:  rgb(185, 29, 178);
}
.cv:hover{
    transform: translateY(-1.3em) scale(1.1);
}

.english{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
      border: solid 0.1em red;
    font-size:2em ;
     width: 13em;
    height: 15em;
    border-radius: 2em;
    color: rgb(0, 0, 0);
       box-shadow: 0.2em 1em 1em red;
}
.english h5{
    color: red;
    
}
.english .boto{
    background-color: rgb(202, 33, 33);
}
.english:hover{
     transform: translateY(-1.3em) scale(1.1);
}

.informatica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
     border: solid 0.1em  blue;;
    font-size:2em ;
     width: 13em;
    height: 15em;
    border-radius: 2em;
    box-shadow: 0.2em 1em 1em blue;
}
.informatica h5{
    color: blue;
}
.informatica .boto{
    background-color: blue;
}
.informatica:hover{
     transform: translateY(-1.3em) scale(1.1);
 }

h5{
    font-size: x-large;

}

.boto{
    font-size: 1.2em;
    padding: 0.4em 0.3em ;
    color: white;
    border-radius: 0.2em;
}


/* Pedro joao */

.parcerias {
    display: flex;
    justify-content: center;
    color: #112d88;
    text-decoration: none;
    border-radius: 0.2em;
    height: 7em;
    align-items: center;
    margin-top: 2em;
    font-size: 2em;
}

.cont{
    
    display: flex;
    margin-top: 0.2em;
    justify-content: center;
    border-radius: 1em;
    background-image: linear-gradient(45deg,rgb(0, 0, 190),#2c54da);
    justify-content: space-around;
    height: 20em;
    align-items: center;
}

.oly{
    display: flex;
    border: 0.3em rgb(2, 78, 2) solid;
    width: 15em;
    height: 15em;
    border-radius: 30em;
}
.oly:hover{
    transform: translateY(-0.3em) scale(1.1);
    border:  rgb(15, 255, 15) solid 0.4em;
}
.unisa{
    width: 15em;
    height: 15em;
    border: solid rgb(0, 0, 90) 0.2em;
    border-radius: 30em;
}
.unisa:hover{
    transform: translateY(-0.3em) scale(1.1);
    border: solid rgb(28, 28, 97) 0.4em;
}
.grajau{
    width: 15em;
    height: 15em;
    border: solid rgb(255, 136, 0) 0.3em;
    border-radius: 30em;
}
.grajau:hover{
    transform: translateY(-0.3em) scale(1.1);
    border: solid rgb(255, 94, 0) 0.4em;
}
.sao{
    width: 15em;
    height: 15em;
    border: solid rgb(241, 6, 6) 0.3em;
    border-radius: 30em;
}
.sao:hover{
    transform: translateY(-0.3em) scale(1.1);
      border: solid red 0.4em;
}
.serpro{
    width: 15em;
    height: 15em;
    border: solid rgb(46, 46, 231) 0.3em;
    border-radius: 30em;
}
.serpro:hover{
    transform: translateY(-0.3em) scale(1.1);
      border: solid blue 0.4em;
}
.help{
    width: 15em;
    height: 15em;
    border: solid rgb(233, 101, 101) 0.3em;
    border-radius: 30em;
}
.help:hover{
    transform: translateY(-0.3em) scale(1.1);
      border: solid rgb(233, 101, 101) 0.4em;
}


/* GABRIEL LUCAS E EROS  */
.contato {
    background-color: rgb(255, 145, 0);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-image: url(azul.webp);
    background-size: cover;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    margin-top: 5em;
    border-radius: 2EM;
}

.primeira {

    width: 50em;
    height: 50em;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-image: linear-gradient(blue, rgb(85, 85, 255));
    border-radius: 100%;
    justify-content: center;
    box-shadow: 1.5em 1.5em 3.5em 2em rgba(0, 38, 161, 0.5);
}

.freoto {
    width: 20em;
    height: 20em;

    margin-left: 15em;
}

.isnsf {
    text-align: center;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.informa {
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.iknow {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.informa img {
    width: 5em;
    height: 5em;
  
}

.numero{
background-color: rgb(88, 176, 235);
display:flex;
align-items: center;
border-radius: 0.5em;
margin-top: 1em;
gap: 1em;
}

.endereÃ§o{
background-color: rgb(88, 176, 235);
display:flex;
align-items: center;
border-radius: 1em;
margin-top: 2em;
gap: 1em;
}

.locali{
background-color: rgb(88, 176, 235);
display:flex;
align-items: center;
border-radius: 1.5em;
margin-top: 3em;
gap: 1em;
}

.h22{
color: rgb(255, 255, 255);
font-size: 3em;
font-family: Arial, Helvetica, sans-serif;
text-decoration: underline;

}
