     /* Cassiano */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
    position: relative;
}
.começo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    display: flex;
    color: #1c286a;
    gap: 1.9em;
    justify-content: center;
    align-items: center;
}
.titulo h1{
    font-size: 1.5em;
}

.butao{
    display: flex;
    margin-left: 10em;
    gap: 3em;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}
.butao a{
    text-decoration: none;
    color: #1c286a;
}
.doe{
    display: flex;
    margin-left: 3em;
    color: white;
    padding:0.4em 1em ;
    background-color: #1949e8;
    align-items: center;
    justify-content: center;
    border-radius: 0.8em ;
    gap: 0.2em;
}
.doe a{
    color: white;
}
.meio{
    display: flex;
    background-color: #a5bafc ;
    width: 100%;
    height: 45em;
    margin-top: 1em;
    align-items: center;

}
.direita{
    display: flex;
    gap: 0.7em;
    flex-direction: column;
    font-size: 2em;
    margin-left:3em;
    justify-content: center
}
.direita h1{
    font-size: 1.9em;
   
}
.direita h3{
color: #1949e8;
font-size: 0.8em;
}

.bot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}
.bot a{
    text-decoration: none;
}
.but1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1949e8;
    padding: 0.6em 2em ;
    border-radius: 0.5em;
    color: white;
    box-shadow: 0.2em 0.4em 0.7em 0.1em rgb(124, 127, 255);
}
.but1 a{
    color: white;
    text-decoration: none;
}
.but2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 2em ;
    border-radius: 0.5em;
    color: #1949e8;
    border: #1949e8 solid 0.1em;
    box-shadow: 0.2em 0.4em 0.7em 0.1em rgb(124, 127, 255)
}
.but2 a{
    color:  #1949e8;
}
.esquerda{
    display: flex;
    flex: 1;
    height: 45em;
    clip-path: ellipse(95% 100% at 100% 30%);
}

.esquerda img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.info{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 2em;
    align-items: center;
    gap: 9em;
    border: solid 0.1em rgb(170, 169, 169);
}

.info h1{
    color: #1949e8;

}
.educação{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 1.6em; 
    border-radius: 2em;
    padding: 2em ;
    justify-content: center;
   
}
.soli{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 1.6em;
    border:  0.1em solid  rgb(170, 169, 169);
    padding: 3em ;
    width: 20em;
    margin-left: 1.5em;
    
}
.comunidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 1.6em;
    padding: 2em ;
    border-radius: 2em;
}
.educação img{
    display: flex;
    background-color: w;
    border-radius: 1em;
    padding: 0.6em 0.6em ;
    align-items: center;
    
}
.soli img{
    display: flex;
    background-color: white;
    border-radius: 9em;
    padding: 0.6em 0.6em ;
}
.comunidade img{
    display: flex;
    background-color: white;
    border-radius: 2em;
    padding: 0.6em 0.6em ;
}
.cursosbg{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.cursosbg h1{
    font-size: 4em;
    color: blue;
}
.cur{
    display: flex;
    gap: 4em;
    
}
 
.adm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size:2em ;
    border: solid 0.1em rgb(0, 255, 0);
    border-radius: 2em;
    width: 13em;
    height: 15em;
    color: rgb(0, 0, 0);
    box-shadow: 0.2em 3em 3em green;
}
.adm h5{
    color:  rgb(70, 160, 70)
}
.adm .boto{
    background-color:  rgb(70, 160, 70);
}

.cv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
      border: solid 0.1em rgb(241, 21, 230);
    font-size:2em ; 
     width: 13em;
    height: 15em;
    border-radius: 2em;
    color: rgb(0, 0, 0);
      box-shadow: 0.2em 3em 3em rgb(241, 21, 230);
}
.cv h5{
 color: rgb(241, 21, 230)
}
.cv .boto{
    background-color:  rgb(185, 29, 178);
}
.english{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
      border: solid 0.1em red;
    font-size:2em ;
     width: 13em;
    height: 15em;
    border-radius: 2em;
    color: rgb(0, 0, 0);
       box-shadow: 0.2em 3em 3em red;
}
.english h5{
    color: red;
    
}
.english .boto{
    background-color: rgb(202, 33, 33);
}

.informatica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
     border: solid 0.1em  blue;;
    font-size:2em ;
     width: 13em;
    height: 15em;
    border-radius: 2em;
    box-shadow: 0.2em 3em 3em blue;
}
.informatica h5{
    color: blue;
}
.informatica .boto{
    background-color: blue;
}

h5{
    font-size: x-large;

}

.boto{
    font-size: 1.2em;
    padding: 0.4em 0.3em ;
    color: white;
    border-radius: 0.2em;
}


/* Pedro joao */

.parcerias {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 119);
    text-decoration: none;
    border-radius: 0.2em;
    height: 7em;
    align-items: center;
    margin-top: 4em;
    font-size: 2em;
}

.cont{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    border-radius: 1em;
    background-image: linear-gradient(45deg,rgb(53, 53, 245),#a5bafc);
    justify-content: space-around;
    height: 20em;
    align-items: center;
}

.cont img {
    width: 15em;
    height: 15em;
    border: solid rgb(0, 0, 90) 0.2em;
    border-radius: 30em;
}